# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-WebServer
runs
run-data

repo

# BlueMap deployment-local config
bluemap/create-train-config.js
